@import url("./fonts.css");

/*---------------------*/
/* GENERAL RULES */
/*---------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trip Sans", Arial, sans-serif;
  font-size: 16px;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 54px;
  margin-top: 32px;
}

h2 {
  font-size: 28px;
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

p {
  font-size: 20px;
}

.container {
  max-width: 1135px;
  margin: auto;
}

/*---------------------*/
/* MODAL */
/*---------------------*/

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  width: 50%;
  max-width: 700px;
  color: #333;
  background-color: #fff;
  text-align: center;
  padding: 32px 32px;
  border-radius: 20px;
}

.modal h2 {
  margin-top: 40px;
  border-bottom: 3px solid #34e0a1;
  padding-bottom: 10px;
  align-self: center;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal input {
  margin-bottom: 16px;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 8px 14px;
}

.modal textarea {
  margin-bottom: 16px;
  padding: 8px 14px;
  border-radius: 10px;
  max-height: 300px;
  max-width: 100%;
  font-size: 14px;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #34e0a1;
  cursor: pointer;
}

#close-modal:hover {
  transform: scale(1.1);
}

.modal button[type="submit"] {
  background-color: white;
  position: relative;
  padding: 10px 50px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  color: #ff5d5d;
}

.modal button[type="submit"] i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #34e0a1;
}

/* .modal button[type="submit"]::before {
  content: "<i class=" far fa-envelope "></i>";
  position: absolute;
  left: 0;
} */

/*---------------------*/
/* HEADER */
/*---------------------*/
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 20;
}

nav {
  max-width: 1135px;
  height: 60px;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

#logo {
  display: block;
  flex: 1 1 auto;
}

#logo img {
  width: 188px;
  margin-right: 28px;
}

#logo i {
  position: relative;
}

.search-wrapper {
  flex: 1 1 auto;
}

.search-wrapper > div {
  max-width: 350px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.search-wrapper input {
  padding-left: 10px;
  border: none;
}

.search-wrapper input {
  outline: none;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.link {
  min-width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
  font-weight: 500;
}
.link i {
  padding: 5px;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}
.link:hover {
  background-color: #f2f2f2;
}

/*---------------------*/
/* MAIN */
/*---------------------*/

h1 span {
  color: #ff5d5d;
}

.activities {
  padding: 16px 0;
  display: flex;
  /* position: sticky; */
  top: 0px;
  background-color: #fff;
  z-index: 10;
}

.activity {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  min-width: 125px;
  min-height: 48px;
  flex: 1;
  padding: 18px;
  border-radius: 12px;
  color: black;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.activity:not(:last-child) {
  margin-right: 16px;
}

.activity:hover {
  color: white;
  background-color: black;
}

.activity span {
  max-width: 90px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ship {
  display: none;
}

/* PHOTOS */
.photos {
  position: relative;
  display: flex;
  max-width: 100%;
  margin-bottom: 20px;
}

.photos > div {
  height: 372px;
  width: 100%;
}

.photos > div:nth-child(2) {
  position: relative;
  margin-right: 2px;
  flex: 2;
}
.photos > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photos img {
  width: 100%;
  height: 49.7%;
  object-fit: cover;
  display: block;
}

.photos img:hover {
  cursor: pointer;
  opacity: 0.85;
}

.big-img {
  height: 100% !important;
}

.all-photos {
  position: absolute;
  font-size: 12px;
  bottom: 18px;
  left: 18px;
  z-index: 1;
}

/* DESCRIPTION */
.place {
  font-size: 12px;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.place a {
  color: #333;
}

.place a:hover {
  text-decoration: underline;
}
.place > div > span {
  margin: 0 6px;
}

.description {
  display: flex;
}

.description > div:first-child {
  flex: 1.5;
}

.description > div:last-child {
  flex: 1;
}

.description > div:first-child p {
  width: 75%;
  color: #333;
  font-weight: normal;
}

/* ASIDE CREATE A TRIP*/
.trip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff5d5d;
  border-radius: 12px;
  margin-bottom: 55px;
  overflow: hidden;
  max-height: 460px;
}

.trip > div:first-child {
  padding-bottom: 50px;
}

.trip > div:nth-child(2) {
  height: 188px;
  background-image: url("../images/image_trips_card_medium.png");
  background-repeat: no-repeat;
  background-position: -2px;
  background-size: 110%;
}

.trip h2 {
  padding: 39px 34px 0 34px;
  font-size: 32px;
  font-weight: 500;
}

.trip .button {
  align-self: flex-start;
  height: 50px;
  padding: 17px;
  margin: 0 auto 30px 34px;
}

.trip p {
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0 34px;
}

/* UNMISSABLE */

.whattodo {
  display: flex;
  margin-bottom: 80px;
}

.whattodo-desc {
  flex: 1;
  padding-right: 50px;
}

.whattodo p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  color: #333;
}

.whattodo a {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.whattodo a:hover {
  text-decoration: underline;
}

.carousel {
  position: relative;
  width: 848px;
  height: 275px;
}

.carousel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 848px;
  display: flex;
  overflow: hidden;
  /* transform: translateX(-100%); */
}

.carousel-item {
  width: 272px;
  height: 335px;
  margin-right: 16px;
  flex: 1 0 auto;
  transition: transform 1s;
}

.carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-item a {
  display: block;
}

.carousel-item p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

.carousel-item span {
  font-size: 12px;
  color: #333;
  font-weight: normal;
}

.carousel svg path {
  fill: green;
}

.carousel-item > a > div {
  position: relative;
}

.award {
  width: 33px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #34e0a1;
  border-radius: 50% 50% 5px 5px;
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.award svg {
  width: 32px;
  height: 32px;
}

.award span {
  text-align: center;
  font-weight: 500;
  /* margin-bottom: 4px; */
}

.award svg path {
  fill: black;
}

.heart {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  z-index: 3;
}

.heart i {
  font-size: 20px;
}

.previous,
.next {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  color: black;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.2s, color 0.2s;
}

.previous:hover,
.next:hover {
  background-color: black;
  color: white;
}

.previous {
  top: 100px;
  left: 0;
  transform: translate(-50%, -50%);
}

.next {
  top: 100px;
  right: 0;
  transform: translate(50%, -50%);
}

/* TRAVEL GUIDE */
.travel-guides > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.guide {
  width: 32.5%;
}

.guide img {
  width: 100%;
  object-fit: cover;
}

.guide a {
  color: black;
  font-size: 18px;
}

.guide a:hover {
  opacity: 0.85;
  text-decoration: underline;
}

.guide a:hover span {
  text-decoration: white !important;
}

.guide span,
.guide p {
  font-size: 14px;
  color: #333;
}

.guide p {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.guide p span {
  font-weight: 600;
  margin-left: 4px;
}

.guide p img {
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

/* FORUMS */
.forums {
  margin-bottom: 80px;
}

.forum-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forum-item {
  width: 32%;
  height: 135px;
  background-color: #faf1ed;
  border-radius: 12px;
  padding: 24px;
  color: #333;
}

.forum-item p {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 500;
}

.forum-item span {
  font-size: 14px;
  font-weight: 500;
}

.forum-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.forum-item > div {
  display: flex;
  align-items: center;
}

.display {
  text-align: end;
  margin-bottom: 16px;
}

.display a {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.display a:hover {
  color: #545454;
  text-decoration: underline;
}
/* FOOTER */
footer {
  background-color: #faf1ed;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 40px;
  margin-right: 30px;
}

footer p {
  padding: 3px;
  font-size: 16px;
}

footer a {
  font-weight: 500;
  color: #333;
  border-bottom: 1px solid #333;
  transition: border 0.4s;
  padding: 3px;
}

footer a:hover {
  border-bottom: 1px solid transparent;
}

@media (max-width: 1184px) {
  body {
    overflow-x: hidden;
  }

  .activities {
    flex-wrap: wrap;
    padding: 8px 0 0 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .immanquables {
    overflow-x: hidden;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .activity {
    min-width: 22%;
    flex-shrink: 0;
    margin-bottom: 16px;
    height: 70px;
    padding: 10px;
  }

  .activity:nth-child(4) {
    margin-right: 0;
  }
  .ship {
    display: flex;
  }
}

@media (max-width: 1024px) {
  .photos > div {
    height: 276px;
  }

  .description {
    flex-direction: column;
  }

  .description > div > p {
    width: 100% !important;
  }

  .trip {
    margin-top: 50px;
    height: 250px;
    flex-direction: row;
  }

  .trip > div {
    width: 50%;
    height: 100%;
  }

  .trip > div:nth-child(2) {
    background-size: 130%;
    height: 100%;
  }

  .link span {
    display: none;
  }

  #logo img {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .search-wrapper input {
    display: none;
  }

  #logo img {
    margin-right: 0;
  }

  .trip {
    flex-direction: column;
    height: auto;
  }

  .trip > div:nth-child(2) {
    height: 188px;
    width: 100%;
    background-size: 110%;
  }

  .photos > div:last-child {
    display: none;
  }

  .link {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .search-wrapper > div {
    border: none;

    font-size: 20px;
  }

  .search-wrapper {
    width: 60px;
    flex: 1;
  }

  .search-wrapper > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  .hamburger {
    display: block;
    flex: 1;
    font-size: 22px;
  }

  header nav {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  h3 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
  }

  .trip > div {
    width: 100%;
  }

  .trip p {
    margin-bottom: 35px;
    width: 90%;
  }

  .whattodo {
    flex-direction: column;
  }

  .whattodo-desc {
    padding-right: 0;
    margin-bottom: 16px;
  }
  .travel-guides {
    position: relative;
    height: 350px;
    overflow: hidden;
  }
  .travel-guides > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 848px;
    display: flex;
    overflow: hidden;
  }

  .guide {
    width: 75%;
  }

  .forums {
    position: relative;
    margin-bottom: 250px;
  }

  .forum-wrapper {
    position: absolute;
  }

  .forum-item {
    width: 270px;
    margin-right: 16px;
  }
}
